

<ion-content>
  <img src="https://firebasestorage.googleapis.com/v0/b/noteapp-825ee.appspot.com/o/logo.svg?alt=media&token=f11321cb-3596-4720-9902-f09d4a2f32dd">
  <div *ngIf="!connected" class="wrapper">
  <div class="inputs">
      <ion-input type="email" [(ngModel)]="email" [(ngModel)]="dataNewUser.email" [(ngModel)]="dataUser.email" placeholder="Email"></ion-input>
   
      <ion-input type="password"  [(ngModel)]="dataNewUser.password" [(ngModel)]="dataUser.password" placeholder="Mot de passe"></ion-input>
  

      <ion-input type="text"[(ngModel)]="pseudo" [(ngModel)]="dataNewUser.pseudo" placeholder="Pseudo"></ion-input>
    </div>

    <ion-button expand="block" color="tertiary" (click)="signUp()">Inscription</ion-button>
  </div>
  
</ion-content>
