<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!addNote">{{ data.nom }} </ion-title>
    <ion-title *ngIf="addNote">Nouvelle note. </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" fill="clear">
      <ion-button (click)="toProfil()" class="profil"><ion-icon name="person-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class='invdiv' (click)="closeSB()"></div>
  <div *ngIf="addNote" class="bckdiv"></div>
  <div *ngIf="current == 'searching'">
    <ion-searchbar placeholder="Que cherchez vous ?" [(ngModel)]="filterTerm" class="sB"></ion-searchbar> 
</div>
      
        <ion-input *ngIf="addNote"[(ngModel)]="myTitre" placeholder="Titre" class="titre"></ion-input>
        <ion-textarea *ngIf="addNote" [(ngModel)]="myNote" placeholder="Texte" rows="20" cols="20" class="corps"></ion-textarea>
    
 
    <div *ngIf="addNote">
      
      <ion-button (click)="addNoteToFirebase()" class="btnsleftr nvrep"  slot="end">
        <ion-icon  name="add-outline" class="confirm" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="showForm()" class="btnsrightr nvrep" >
        <ion-icon name="close-outline" class="cancel" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    
    <ion-button *ngIf="!addNote" (click)="showForm()"  class="addbutton"> 
      <ion-icon name="add-outline" slot="icon-only" (click)="createPopover()"></ion-icon>
    </ion-button>
   
    <ion-button (click)="createPopover()"  *ngIf="!addNote"class="addpbutton"> 
    <ion-icon name="person-add-outline" slot="icon-only" (click)="createPopover()"></ion-icon>
  </ion-button>
  
  <ion-button (click)="search()"  *ngIf="!addNote" class="searchbutton">
    <ion-icon name="search-outline" slot="icon-only"></ion-icon>
  </ion-button>


    <div class="items ion-text-wrap">
  <ion-card *ngFor="let note of notes | filter:filterTerm" >
    <ion-item-sliding>
      <ion-item lines="none" *ngIf="note.repkey==data.ukey " (click)="openDetails(note.unkey)" color="primary">
        <ion-label class="ion-text-wrap">
          <h1>{{ note.titre }}</h1>
          <p class="txt">{{ note.texte }}</p>
          <p> Par {{ note.auteur }}, le {{ note.date }}.</p>
        
        </ion-label>
      </ion-item>
      <ion-item-options color="danger" side="end" *ngIf="note.auteur == pseudo">
        <ion-item-option color="danger" side="end" (click)="deleteNote(note)">
          <ion-icon name="trash" color="danger" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
    </div> 




<div *ngIf="addNote" class="bckdiv">
</div>
</ion-content>