ion-back-button{
    color:antiquewhite;
    --ionicon-stroke-width: 54px;
}

ion-button{
    width: 60px;
    height: 60px;
    --ionicon-stroke-width: 54px;
   position: fixed;
   z-index: 12 !important;
}
ion-input, ion-textarea{
    width: 80% !important;
    margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    text-align: center;
    margin-bottom: 10px !important;
   z-index: 12 !important;
    }
   div.items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -60px;
    align-items: flex-start;
  }
  ion-card{
    width: 40% !important;
    height: auto !important;
  }
  ion-label{
    height: auto !important;
    
  }
  h1{
    max-height: 4ch;
  }
  p.txt{
    max-height: 10ch;
  }
.invdiv{
    width: 700%;
    height: 700%;
    background-color:  #d1c18c00;
    opacity: 0.40;
    margin-top: -1000px !important;
    position: absolute;
  }
  .bckdiv{
    width: 700%;
    height: 1000%;
    background-color:  #d1c18c;
    opacity: 0.40;
    margin-top: -1000px !important;
    z-index: 10;
    position: fixed;
    top: 0;
  }
  .btnsleftr{
    position: sticky;
    left: 20%;
    
  }
  .btnsrightr{
    position: sticky;
    left: 60%;
   
  }
  .nvrep{
    z-index: 10;
  }
  ion-icon{
    z-index: 120;
  }
  .titre{
    height: 50px;
    width: 75% !important;
  }
  .corps{
    height: 450px; 
   
  }
  .addpbutton{
    position: sticky;
    left: 42%;
    top: 90%;
    z-index: 9;
  }
  .addbutton{
    position: sticky;
    left: 8%;
    top: 90%;
    z-index: 9;
  }
  .searchbutton{
    position: sticky;
    left: 76%;
    top: 90%;
    z-index: 9;
  }
  ion-textarea{
    --padding-start: 10px;
    --padding-top: 20px;
    --padding-end: 10px;
  }
  